<h1>Edit the Users</h1>

<!-- <form action="/users" method="post" accept-charset="UTF-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="username">Username</label>
	<input type="text" name="user[username]" placeholder="User Name">
	<label for="email">Email</label>
	<input type="email" name="user[email]" placeholder="user@test.com">
	<label for="password">Password</label>
	<input type="password" name="user[password]" placeholder="Password">
	<button type="submit">Create User</button>
</form> -->

<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "count") %> has prevented this user from being edited</h2>
	<%= @user.errors.each do |error| %>
		<li> <%= error.full_message %></li>
	<% end %>
</div>
<% end %>

<%= form_with model: @user do |form| %>
<%= form.label "Username :" %>     
<%= form.text_field :username, :placeholder => "User Name" %>     
<%= form.label "Email :" %>     
<%= form.email_field :email, :placeholder => "user@test.com" %>       
<%= form.submit "Update User" %>     
<% end %> 
